openapi: 3.1.0
info:
  title: HAAT POS Integration API
  version: "1.0.0"
  description: |
    Integration API for Point of Sale systems connected to HAAT.

    All requests require the `X-Api-Key` header.

    **Write endpoints** return HTTP 200 on success or when queued, and HTTP 400 on validation failure.
    Response body always includes `requestId`, `status` (`Success` | `Pending` | `Failed`), and `message`.
    If `status` is `Pending`, poll **GET Request Status**.
servers:
  - url: http://ext-integration.haat-delivery.io
    description: Staging
  - url: https://integration.internal.haat.delivery
    description: Production
tags:
  - name: Businesses
  - name: Orders
  - name: Sync

security:
  - ApiKeyAuth: []

paths:
  /api/pos/businesses:
    get:
      tags: [Businesses]
      operationId: listBusinesses
      summary: List businesses
      description: |
        Returns the list of businesses assigned to your POS integration.
        Use the `businessId` values from this response in all other endpoints.
      responses:
        "200":
          description: Businesses assigned to your API key
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Business"
              examples:
                sample:
                  value:
                    - businessId: 1021
                      businessName: My Restaurant - Main Branch
                      areaName: Tel Aviv
                    - businessId: 1022
                      businessName: My Restaurant - Second Branch
                      areaName: Haifa

  /api/pos/business/{businessId}/prepare-time:
    get:
      tags: [Orders]
      operationId: getPrepareTime
      summary: Get prepare time options
      description: Returns available prepare-time options (in minutes) for your business.
      parameters:
        - $ref: "#/components/parameters/BusinessId"
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
          description: If provided, returns prepare-time options relevant to that order
      responses:
        "200":
          description: Prepare-time options in minutes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
              examples:
                sample:
                  value: [10, 15, 20, 25, 30, 45, 60]

  /api/pos/business/{businessId}/sync-status/{requestId}:
    get:
      tags: [Sync]
      operationId: getRequestStatus
      summary: Get request status
      description: |
        Check the processing status of a previously submitted request.
        When a PUT returns `"Pending"`, poll this endpoint until `"Success"` or `"Failed"`.
      parameters:
        - $ref: "#/components/parameters/BusinessId"
        - name: requestId
          in: path
          required: true
          schema:
            type: string
          description: Tracking ID from the original PUT response
      responses:
        "200":
          description: Current request status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WriteResponse"
              examples:
                sample:
                  value:
                    requestId: "6651a3f2e1b2c3d4e5f60001"
                    status: Success
                    message: null

  /api/pos/business/{businessId}/status:
    put:
      tags: [Businesses]
      operationId: updateBusinessStatus
      summary: Update business status
      description: |
        Open or close your business.

        - `status` `0` = Online (open)
        - `status` `1` = Offline (closed)

        When closing, `closeExpirationDate` (ISO 8601, future) is required.
        When opening, omit it or set it to null. The business reopens automatically when the expiration is reached.
      parameters:
        - $ref: "#/components/parameters/BusinessId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessStatusRequest"
            examples:
              open:
                summary: Open
                value:
                  status: 0
              close:
                summary: Close temporarily
                value:
                  status: 1
                  closeExpirationDate: "2026-07-01T23:59:59"
      responses:
        "200":
          $ref: "#/components/responses/WriteOk"
        "400":
          $ref: "#/components/responses/WriteBadRequest"

  /api/pos/business/{businessId}/order-status:
    put:
      tags: [Orders]
      operationId: updateOrderStatus
      summary: Update order status
      description: |
        Update the status of an order.

        - `status` `1` = Start Prepare (requires `estimationMinutes` > 0)
        - `status` `2` = Cancel
      parameters:
        - $ref: "#/components/parameters/BusinessId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderStatusRequest"
            examples:
              startPrepare:
                summary: Start prepare
                value:
                  orderId: 98765
                  status: 1
                  estimationMinutes: 20
              cancel:
                summary: Cancel
                value:
                  orderId: 98765
                  status: 2
      responses:
        "200":
          $ref: "#/components/responses/WriteOk"
        "400":
          $ref: "#/components/responses/WriteBadRequest"

  /api/pos/business/{businessId}/working-hours:
    put:
      tags: [Businesses]
      operationId: updateWorkingHours
      summary: Update working hours
      description: |
        Full replacement of weekly working hours. Any day not included is treated as closed.

        - `day`: 1=Sunday … 7=Saturday
        - `type`: `0` (default) = open during `hours`, `2` = open 24 hours
        - `fromHour` / `toHour`: `"HH:mm"` UTC, 24-hour clock; ranges must not overlap
      parameters:
        - $ref: "#/components/parameters/BusinessId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkingHoursRequest"
            examples:
              sample:
                value:
                  days:
                    - day: 1
                      hours:
                        - fromHour: "08:00"
                          toHour: "14:00"
                        - fromHour: "17:00"
                          toHour: "23:00"
                    - day: 2
                      hours:
                        - fromHour: "09:00"
                          toHour: "22:00"
                    - day: 6
                      type: 2
      responses:
        "200":
          $ref: "#/components/responses/WriteOk"
        "400":
          $ref: "#/components/responses/WriteBadRequest"

  /api/pos/business/{businessId}/availability:
    put:
      tags: [Businesses]
      operationId: updateAvailability
      summary: Update availability
      description: |
        Update menu item availability in bulk.
        `items` are your item identifiers as configured during onboarding.
      parameters:
        - $ref: "#/components/parameters/BusinessId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AvailabilityRequest"
            examples:
              unavailable:
                value:
                  items: ["ITEM-001", "ITEM-002", "DEAL-010"]
                  available: false
              available:
                value:
                  items: ["ITEM-001", "ITEM-002"]
                  available: true
      responses:
        "200":
          $ref: "#/components/responses/WriteOk"
        "400":
          $ref: "#/components/responses/WriteBadRequest"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key provided by HAAT

  parameters:
    BusinessId:
      name: businessId
      in: path
      required: true
      schema:
        type: integer
      description: HAAT business ID from List Businesses

  responses:
    WriteOk:
      description: Success or queued for processing
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WriteResponse"
          examples:
            success:
              value:
                requestId: "6651a3f2e1b2c3d4e5f60003"
                status: Success
                message: Updated successfully
            pending:
              value:
                requestId: "6651a3f2e1b2c3d4e5f60003"
                status: Pending
                message: null
    WriteBadRequest:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WriteResponse"

  schemas:
    Business:
      type: object
      required: [businessId, businessName]
      properties:
        businessId:
          type: integer
        businessName:
          type: string
        areaName:
          type: [string, "null"]

    WriteResponse:
      type: object
      required: [requestId, status]
      properties:
        requestId:
          type: string
        status:
          type: string
          enum: [Success, Pending, Failed]
        message:
          type: [string, "null"]

    BusinessStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: integer
          enum: [0, 1]
          description: "0 = Online (open), 1 = Offline (closed)"
        closeExpirationDate:
          type: [string, "null"]
          description: Required when closing; ISO 8601 future datetime

    OrderStatusRequest:
      type: object
      required: [orderId, status]
      properties:
        orderId:
          type: integer
          minimum: 1
          description: HAAT order ID
        status:
          type: integer
          enum: [1, 2]
          description: "1 = Start Prepare, 2 = Cancel"
        estimationMinutes:
          type: integer
          minimum: 1
          description: Required when status is 1

    HourRange:
      type: object
      required: [fromHour, toHour]
      properties:
        fromHour:
          type: string
          example: "08:00"
        toHour:
          type: string
          example: "14:00"

    WorkingDay:
      type: object
      required: [day]
      properties:
        day:
          type: integer
          minimum: 1
          maximum: 7
          description: "1=Sunday … 7=Saturday"
        type:
          type: integer
          enum: [0, 2]
          description: "0 = specific hours, 2 = open 24 hours"
        hours:
          type: array
          items:
            $ref: "#/components/schemas/HourRange"

    WorkingHoursRequest:
      type: object
      required: [days]
      properties:
        days:
          type: array
          items:
            $ref: "#/components/schemas/WorkingDay"

    AvailabilityRequest:
      type: object
      required: [items, available]
      properties:
        items:
          type: array
          minItems: 1
          items:
            type: string
        available:
          type: boolean
